// @use "./base/**";
// @use "./page/**/*";
// @use "./module/**/*";

/* ----------------------------
初期設定
---------------------------- */
html {
  font-size: 100%;
}
body {
  color: #000;
  font-family: "Zen Old Mincho", sans-serif, serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

/* ----------------------------
レイアウト
---------------------------- */
.wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 60px;
  }
}

/* ----------------------------
見出し
---------------------------- */
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 400;
  color: #a7845a;
}

.section-title::before,
.section-title::after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #a7845a;
}

/* ----------------------------
header
---------------------------- */
.header {
  padding: 13px 0;
  height: 50px;
  margin: 0;
  background-color: #000;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
.header .logo {
  width: 100%;
  max-width: 56px;
  line-height: 0;
  /* ロゴが文字の場合の調整 */
  /*
  color: #a7845a;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  */
}
.header .logo a {
  display: block;
}
.header .nav .list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 12px 0 5px;
  }
  .header .inner {
    padding: 0 60px;
  }
  .header .nav .list {
    display: flex;
    color: #fff;
  }
  .header .nav .list li {
    font-size: 20px;
    line-height: 1.65;
    font-weight: 300;
    font-family: "EB Garamond", serif;
    margin-right: 37px;
  }
  .header .nav .list li:last-child {
    margin-right: 7px;
  }
  .header .nav .list li a {
    display: block;
  }
}

/* ----------------------------
first-view
---------------------------- */
.first-view {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  background-image: url("../../assets/images/common/first-view_sp.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.first-view .overlay {
  width: 100%;
  padding: 16px 0;
  background-color: rgba(167, 132, 90, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.first-view .text {
  margin: 0 auto;
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #5b452a;
  line-height: 1.4;
  transform: translate(-2px, 0);
}
.first-view .text .large,
.first-view .text .medium {
  display: inline-block;
}
.first-view .text .large {
  font-size: 40px;
}
.first-view .text .medium {
  transform: translate(-7px, -3px);
}
@media screen and (min-width: 768px) {
  .first-view {
    height: 500px;
    background-image: url("../../assets/images/common/first-view_pc.webp");
  }
  .first-view .overlay {
    padding: 20px 0;
  }
  .first-view .text {
    font-size: 35px;
    transform: translate(-9px, -2px);
  }
  .first-view .text .large {
    font-size: 50px;
  }
  .first-view .text .medium {
    font-size: 40px;
    transform: translate(15px, 1px);
  }
  .first-view .text .space {
    display: inline-block;
  }
  .first-view .text .pc {
    display: none;
  }
}

/* ----------------------------
main - menu
---------------------------- */
.menu {
  padding-top: 48px;
  padding-bottom: 51px;
}
.menu .title-space-menu {
  margin-bottom: 39px;
  gap: 15px;
}
.menu .menu-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.menu .menu-list li:last-child {
  margin-bottom: 0;
}
.menu .img {
  width: 100%;
  max-width: 315px;
  height: auto;
  margin-bottom: 20px;
}
.menu .img picture,
.menu .img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 315 / 250;
}
.menu .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 9px;
}
.menu .detail {
  font-size: 15px;
  line-height: 1.67;
}
@media screen and (min-width: 768px) {
  .menu {
    padding-top: 53px;
    padding-bottom: 36px;
  }
  .menu .title-space-menu {
    margin-bottom: 38px;
  }
  .menu .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu .menu-list li {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .menu .menu-list li:last-child {
    margin-right: 0;
  }
  .menu .img {
    max-width: 300px;
    margin-bottom: 30px;
  }
  .menu .img picture,
  .menu .img img {
    aspect-ratio: 300/ 250;
  }
  .menu .title {
    margin-bottom: 10px;
  }
  .menu .detail {
    margin-bottom: 0;
  }
}

/* ----------------------------
main - about
---------------------------- */
.about {
  padding-top: 47px;
  padding-bottom: 60px;
  background-color: rgba(167, 132, 90, 0.2);
}
.about .title-space-about {
  margin-bottom: 35px;
  gap: 7px;
}
.about .img {
  width: 100%;
  max-width: 315px;
  margin-bottom: 28px;
}
.about .img picture,
.about .img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 315 / 250;
}
.about .text {
  color: #505050;
}
.about .title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 9px;
}
.about .description {
  font-size: 18px;
  line-height: 1.83;
  margin-bottom: 27px;
}
.about .btn {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 11px 0 14px;
  color: #fff;
  background-color: #a7845a;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 42px;
    padding-bottom: 48px;
  }
  .about .title-space-about {
    margin-bottom: 43px;
  }
  .about .flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about .img {
    width: 49%;
    max-width: 450px;
    margin-bottom: 0;
  }
  .about .img picture,
  .about .img img {
    aspect-ratio: 450/ 300;
  }
  .about .text {
    width: 49%;
    margin-right: 2%;
  }
  .about .title {
    margin-bottom: 17px;
  }
  .about .description {
    margin-bottom: 22px;
  }
  .about .btn {
    max-width: 250px;
    font-size: 20px;
    padding: 13px 0;
    text-align: center;
  }
}

/* ----------------------------
footer
---------------------------- */
.footer {
  padding: 30px;
  background-color: #000;
}
.footer .copyright {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.65;
  font-family: "EB Garamond", serif;
}
